certifi==2022.12.7
chardet==3.0.4
dnspython==1.16.0
eventlet==0.25.1
greenlet==0.4.15
idna==2.8
monotonic==1.5
pkg-resources==0.0.0
python-engineio==3.11.2
python-socketio==4.4.0
requests==2.22.0
six==1.14.0
urllib3==1.25.8
